# Accidental Drug-related Deaths in Connecticut

In [16]:
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os

In [17]:
%matplotlib inline
plt.rcParams["figure.figsize"] = (20,10)

Display 2012-2018 accident records:

In [18]:
filepath_1 = "D:\\CODE1161\\OpenDataProject\\accidents.csv"
accident_records = pd.read_csv(filepath_1)
accident_records.head()

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,14-0273,06/28/2014,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,13-0102,03/21/2013,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0165,03/13/2016,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,16-0208,03/31/2016,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,13-0052,02/13/2013,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

Display 2012-2018 drug-related deaths per county:

In [19]:
filepath_2 = "D:\\CODE1161\\OpenDataProject\\countyData.csv"
county_data = pd.read_csv(filepath_2)
county_data.head()

,County,Year,State,County FIPS Code,Population,Opioid Prescribed per 100,Total Deaths,"Crude Rate per 100,000","Age Adjusted Rate per 100,000",Drug-related Deaths,"Crude Rate per 100,000.1","Age Adjusted Rate per 100,000.1"
0,FAIRFIELD,2018,CT,9001,943823,33.8,6859,726.7,552.1,189,20,20
1,HARTFORD,2018,CT,9003,892697,43.3,8239,922.9,674.4,313,35.1,35.4
2,LITCHFIELD,2018,CT,9005,181111,47.0,1904,1051.3,686.6,79,43.6,47.6
3,MIDDLESEX,2018,CT,9007,162682,49.6,1620,995.8,640.8,66,40.6,43.2
4,NEW HAVEN,2018,CT,9009,857620,48.6,7933,925.0,680.6,272,31.7,32.5

Let's compare the deaths by County year-to-year:

In [ ]:
county_names = list(county_data.County.unique())

with plt.style.context("dark_background"):
    for name in county_names:
        # check with prescription rate and drug-related deaths
        total_death_annual = county_data[["Year", "Total Deaths"]][county_data["County"] == name]
        plt.plot(total_death_annual,"x-")
plt.show()